In [1]:
import lasio
import pandas as pd
import numpy as np
from qa_qc_lib.qa_qc_gis import QA_QC_gis

In [2]:
las_path = 'data/gis_data/59P_OK_ft.las'
gis_qa_qc = QA_QC_gis(las_path)

ВНИМАНИЕ! Не удалось распознать следующие каротажи: ['GZ1', 'GZ2', 'GZ3', 'GZ3R', 'GZ4', 'LLD', 'PZ']

          Для того чтобы эти каротажи учавствовали в дальнейших тестах, следует расширить словарь мненмоник (используйте метод add_mnemonics),
          а затем снова провести проверку, используя метод check_gis_names, чтобы список unidentified_gis сформировался заново.

In [3]:
kern_data = pd.read_excel('data/kern_data/Керн1.xlsx')
kern_data

,№ скв,Пласт,Направление,"Верх интервала отбора, м","Низ интервала отбора, м","Вынос керна, м","Место взятия, м",Лабораторный номер образца,Литологическое описание,Unnamed: 9,...,"Эффективная проницаемость, Кпр эф, мД","Водоудерживающая способность, Квс, %","Остаточная водонасыщенность (ультрацентрифуга, Рк=18.7 атм.), Кво, %","Остаточная водонасыщенность (мембрана, Рк=12.0 атм.), Кво, %",Новый столбец,"Объемная плотность, г/см3","Кажущаяся минералогическая плотность, г/см3",Примечание,"Смещение, м","Глубина отбора образца после привязки к ГИС, м"
0,9281 куст 5,НП4,кус,2084,2102,18.0,0.36,24122-16,"Алевролит крупнозернистый, глинистый, с мелким...",0.0,...,NaN,NaN,NaN,NaN,2.41,2.41,2.72,NaN,1,2085.36
1,9281 куст 5,НП4,кус,2084,2102,18.0,0.36,24123-16,"Алевролит крупнозернистый, глинистый, с мелким...",0.0,...,NaN,NaN,NaN,NaN,2.41,2.41,2.72,NaN,1,2085.36
2,9281 куст 5,НП4,кус,2084,2102,18.0,0.62,24124-16,"Алевролит крупнозернистый, с мелкими линзочкам...",0.0,...,NaN,NaN,NaN,NaN,2.43,2.43,2.71,NaN,1,2085.62
3,9281 куст 5,НП4,кус,2084,2102,18.0,0.62,24125-16,"Алевролит крупнозернистый, с мелкими линзочкам...",0.0,...,NaN,NaN,NaN,NaN,2.42,2.42,2.71,NaN,1,2085.62
4,9281 куст 5,НП4,пар,2084,2102,18.0,0.82,24126-16,"Песчаник тонкозернистый, алевритовый, со слойк...",0.0,...,NaN,NaN,NaN,NaN,2.30,2.30,2.72,NaN,1,2085.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,9281 куст 5,НП4,кус,2129,2147,18.0,7.65,24848-16,"Аргиллит алевритовый, с мелкими линзочками пес...",0.0,...,NaN,NaN,NaN,NaN,2.41,2.41,2.74,NaN,1,2137.65
497,9281 куст 5,НП4,кус,2129,2147,18.0,7.80,24849-16,"Аргиллит алевритовый, с мелкими линзочками пес...",0.0,...,NaN,NaN,NaN,NaN,2.42,2.42,2.75,NaN,1,2137.80
498,9281 куст 5,НП4,кус,2129,2147,18.0,8.41,24850-16,"Аргиллит алевритовый, с мелкими линзочками пес...",0.0,...,NaN,NaN,NaN,NaN,2.42,2.42,2.75,NaN,1,2138.41
499,9281 куст 5,НП4,кус,2129,2147,18.0,9.84,24851-16,"Аргиллит алевритовый, с мелкими линзочками пес...",0.0,...,NaN,NaN,NaN,NaN,2.43,2.43,2.73,NaN,1,2139.84
500,9281 куст 5,НП4,кус,2129,2147,18.0,10.29,24852-16,"Алевролит крупнозернистый, с мелкими линзочкам...",0.0,...,NaN,NaN,NaN,NaN,2.43,2.43,2.73,NaN,1,2140.29

In [2]:
import pandas as pd
import numpy as np

def color_cells(df, col_index_dict, color='red'):
    style = pd.DataFrame('', index=df.index, columns=df.columns)
    for col, rows in col_index_dict.items():
        for row in rows:
            style.loc[row, col] = f'background-color: {color}'
    return style

rows, cols = 20, 10
data = {f'Col_{i}': np.arange(1, rows + 1) for i in range(cols)}
df = pd.DataFrame(data)

color_dict = {
    'Col_1': [3, 10,],
    'Col_5': [1, 11, 14, 19],
    'Col_9': [0, 7, 19]
}

styled_df = df.style.apply(color_cells, axis=None, col_index_dict=color_dict, color='red')
display(styled_df)

In [4]:
import pandas as pd
import numpy as np

def color_cells(df, col_index_color_dict):
    style = pd.DataFrame('', index=df.index, columns=df.columns)
    for col, rows in col_index_color_dict.items():
        for row, color in rows.items():
            style.loc[row, col] = f'background-color: {color}'
    return style


rows, cols = 20, 10
data = {f'Col_{i}': np.arange(1, rows + 1) for i in range(cols)}
df = pd.DataFrame(data)

color_dict = {
    'Col_1': {3: 'red', 10: 'blue', 17: 'green'},
    'Col_5': {1: 'yellow', 11: 'purple', 14: 'cyan'},
    'Col_9': {0: 'orange', 7: 'pink', 19: 'brown'}
}

styled_df = df.style.apply(color_cells, axis=None, col_index_color_dict=color_dict)
display(styled_df)

In [5]:
styled_df.to_excel('styled_df.xlsx')

In [6]:
import pandas as pd
import numpy as np

def color_specific_cells(df, col_index_color_dict):
    style = pd.DataFrame('', index=df.index, columns=df.columns)
    for col, rows in col_index_color_dict.items():
        for row, color in rows.items():
            style.loc[row, col] = f'background-color: {color}'
    return style

# Создаем синтетический датафрейм с рандомными значениями
rows, cols = 20, 10
data = {f'Col_{i}': np.random.randint(0, 100, size=rows) for i in range(cols)}
df = pd.DataFrame(data)

# Указываем, какие ячейки в каких столбцах раскрашивать и в какой цвет
color_dict = {
    'Col_1': {3: 'red', 10: 'blue', 17: 'green'},
    'Col_5': {1: 'yellow', 11: 'purple', 14: 'cyan'},
    'Col_9': {0: 'orange', 7: 'pink', 19: 'brown'}
}

styled_df = df.style.apply(color_specific_cells, axis=None, col_index_color_dict=color_dict)
display(styled_df)